body {
    font-weight: 800;
}

div {
    display: inline-block;
    margin: 0;
    padding: 0;
}

h1 {
      font-weight: 800;
}

.container-fluid {
    background-image: url("https://i.ytimg.com/vi/JKxdRhjlckI/maxresdefault.jpg");
    text-align: center;
    height: 650px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.description-text {
  color: #dde8dd;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.skillSet {
    width: 100%;
}

.myContainer {
 width: 100%;
 overflow: hidden;
 background: #11cfff;
 height: 500px;
 font-size: 15px;
 text-align: center;
}

.skillsSection {
    background: #11cfff;
    width: 100%;
    height: 200px;
    color: white;
    font-size: 2.5em;
    overflow: hidden;
    text-align: center;
}

.codeIcon {
    margin-top: 10px;
}

#skillsHeader {
    top: 10px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.skills {
    color: white;
    height: 200px;
    font-size: 1.4em;
    background:#11cfff;
    padding-top: 20px;
    width: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.html {
    float: left;
    width: 33.33333%;
}

.css {
    float: left;
    width: 33.33333%;
}

.jscript {
    float: left;
    width: 33.33333%;
    position: relative;
    bottom: 10px;
}

.jscriptIcon {
    color: white;
    font-size: 1.5em;
    top: 20px;
}

.myContainer2 {
    position: relative;
    background:#F7C8D4;
    height: 450px;
    width: 100%;
    color: white;
    font-size: 15px;
    overflow: hidden;
}

.portfolioSection {
    position: relative;
    text-align: center;
    background:#F7C8D4;
    height: 200px;
    width: 100%;
    color: white;
    font-size: 15px;
    font-size: 2.5em;
    overflow: hidden;

}

.briefcaseIcon {
    margin-top: 10px;
}

#portfolioHeader {
    text-decoration: underline;
    font-weight: inherit;
    text-align: center
}

.wikipediaProject {
    color: white;

}

.wikipediaIcon {
    color: white;
    font-size: 2.0em;
    text-align: center;
    margin-left: 150px;
}

#wikipediaImg {
    height: 200px;
    width: 300px;
    float: right;
}
