body {
  background-color: #0E0B16;
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  width: 300px;
  background-size: 100%;
  position: absolute;
  z-index: -1;
  display: block;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #93a4aa;
  height: 33.333333%;

}

div {
    display: block;
    margin: auto;
}

.container-fluid {
    background-image: url("https://i.ytimg.com/vi/JKxdRhjlckI/maxresdefault.jpg");
    display: inline-block;
}

.description-text {
  color: #dde8dd;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.skillSet {
    color: white;
    background-color: white;
    text-align: center;
    margin: 0 auto;
}

section {
    padding: 0 0 50px;
    background-color: blue;
    width: auto;
}

.container {
    position: relative;
    margin: 0;
    padding: 0;
    color: #fff;
    height: 100px;
    background-color: white;
}


.skills {
    color: pink;
}
