body{
  background-color: #d3d3d3;
}

.img {
	border-radius: 50%;
	width: 275px;
	length: 275px;
	position: absolute;
	left: 900px;
	top: 5px;
}

.ulOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
}

.liOptions {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	text-align: left;

}

.liOptions:hover {
	background-color: #555;
	color: white;
	text-decoration: none;
}

.active {
	background-color: #4CAF50;
	color: white;
	text-decoration: none;
}

.description-section {
  background-color: #F7F7C2;
  width: 100%;
  height: 300px;
 	margin: 0px 0px 0px 0px;


}

.portfolio-section {
  background-color: #E88888;
  width: 100%;
  height: 300px;
}

.contact-section {
  background-color: #CEFEFD;
  width: 100%;
  height: 300px;
}

.all-sections {
  padding-left: 100px;
  padding-right: 100px;
}

.description-text {
  padding-top: 90px;
  padding-left: 175px;
  color: red;
  font-family: Tahoma;
}

.portfolio-text {
  padding-top: 20px;
  text-align: center;
  text-decoration: underline;
  height: 300px;
  font-size: 30px
}

.contact-text {
  padding-top: 20px;
  text-align: center;
  text-decoration: underline;
  height: 300px;
  font-size: 30px
}

.img2 {
  position: absolute;
  margin: auto;
  padding-top: 0px;
  length: 50px;
  width: 50px;
  right: 475px;
  padding-top: 50px;

}

.fa-facebook {
  font-size: 4em;
}

.myP{
    text-color: red;
    color: red;
}
